@* Animal Select para vacunacion *@
<div class="back-button d-flex justify-content-center align-items-center position-absolute"
    style="top: 40px; left: 100px; background-color: #48bf78; width: 100px; height: 50px; border-radius: 10px;">
    <a href="~/Peon/Home"
        class="d-flex justify-content-center align-items-center text-white text-decoration-none fw-bold"
        style="gap: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 20px; height: 20px;">
            <path fill="#ffffff"
                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
        </svg>
        Volver
    </a>
</div>
<select name="">
    @foreach (Animal a in ViewBag.Animales)
    {
        <option value="@a.Id">@a.Id</option>
    }
</select>

@if (ViewBag.VacunacionExito != null)
{
    <p class="alert alert-success">@ViewBag.VacunacionExito</p>
}