<h1>Aignar tarea</h1>

<p><strong>Email:</strong></p>
<p><strong>Nombre:</strong></p>
<p><strong>Fecha de ingreso:</strong></p>
@* @if (true)
{
    <p><strong>Nombre:</strong></p>
}
else
{
    <p><strong>Nombre:</strong></p>
} *@


@if (ViewBag.Exito != null)
{
    <p class="alert alert-success">@ViewBag.Exito</p>
}
else
{
    <p class="alert alert-danger">@ViewBag.Error</p>
}
<form action="AsignarTarea" method="post">
    <input type="text" name="email" value="" hidden>
    <label for="">Descripción</label>
    <textarea class="form-control " name="descripcion"></textarea>

    <label for="">Fecha Apertura</label>
    <input class="form-control " name="fechaIngreso" type="date">

    <label for="">Fecha Cierre</label>
    <input class="form-control " name="fechaCierre" type="date">

    <input class="form-control btn btn-primary " type="submit" value="Crear Tarea">
</form>
