<table>
	<thead>

	</thead>
	<tbody>
		@foreach(Tarea t in ViewBag.Tareas){
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			@* <td><a href=`~/Tareas/TareaEspecifica?id=${@t.Id}`>Detalles</a></td> *@
		}
	</tbody>
</table>