<section>
    <div>
        <h1>Bienvenido Capataz: </h1>
        <div class="icons-grid">
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    section>div {
        width: 100%;
        max-width: 1000px;
    }

    .icons-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        grid-row-gap: 20px;
    }

    .icons-grid article {
        background-color: red;
        width: 200px;
        height: 200px;
    }
</style>