<form action="~/Usuario/Registro" method="post">
	<div>
		<input type="text" name="nombre" />
	</div>
	<div>
		<input type="text" name="email" />
	</div>
	<div class="">
		<input type="text" name="password" placeholder="Password"/>
	</div>
	<select name="reside" id="" aria-placeholder="Reside?">
		<option value="true">Si</option>
		<option value="false">No</option>
	</select>
</form>
